@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #6366F1;
  --color-secondary: #38BDF8;
  --color-bg: #0F172A;
  --color-light-bg: #F9FAFB;
  --color-text: #CBD5E1;
  --color-muted: #94A3B8;
  --color-accent: #10B981;
  --color-danger: #F43F5E;
  --color-warning: #FACC15;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
}



/* responsive */
@media screen and (max-width: 1599px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 768px) {}